body {
    background-color: #606470;
}
img {
    image-rendering: initial;
}

.btn {
    align-content: center;
}

#cardRow {
    display: flex;
    margin: 10px 20px;
}

.col {
    padding-bottom: 20px;
}

#col1 {
    padding-left: 80px;
}

#col2 {
    padding-right: 70px;
}